data/
output*
# output/
# output2/
# output3/
# output4/
# output_full/
# output_levenshtein/
# output_levenshtein_lora/
# output_levenshtein_language/
# output_levenshtein_language_/home/LLMs/Qwen/Qwen2.5-1.5B-Instruct/home/LLMs/Qwen/Qwen2.5-1.5B-Instruct/
# output_levenshtein_language_Qwen2.5-7B-Instruct
LLaVA/
logs/
*.log
*.pt
*.pth
*.safetensors
.vscode/
# output4
# output4/
# output4/
# output_full/
!data/train_data_language.json
#!data/pic